# Reddit API (https://www.reddit.com/prefs/apps)
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USER_AGENT=OneKunDay/0.1.0 (by /u/your_username)

# Supabase (https://supabase.com/dashboard/project/_/settings/api)
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# OpenAI API Key for Vercel AI SDK
OPENAI_API_KEY=sk-48YAM-TOjL_nA_N-cp12Pw
# 如果使用第三方网关（例如https://dc48f2730e826770041llm.yoxuba.com/v1 OneAPI），请填写代理地址，注意要以 /v1 结尾
OPENAI_BASE_URL=https://dc48f2730e826770041llm.yoxuba.com/v1
# 模型名称，默认为 gpt-4o-mini
OPENAI_MODEL=
